*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: @import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One:ital@0;1&family=Lora:ital,wght@1,400;1,500&family=Playfair+Display&display=swap');
}
body{
    display:grid;
    place-items: center;
    min-height: 100vh;
}